.task-wrapper {
    
}

.task {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-content {
    width: 90%;
}

.task-content__title {
    color: #000;
    transition: all .2s ease;
    text-decoration: none;
    text-decoration-color: transparent;
}

.task-content__title_checked {
    text-decoration: line-through;
    color: #d1d9d9;
    text-decoration-color: auto;
}

.task-operation__icon {
    color: var(--color-grey-07);
    cursor: pointer;
}

.delete-task {
    margin-left: 8px;
}

.edit-task {

}

.dark {
    .task-content__title {
        color: var(--color-grey-02);
    }

    .task-content__title_checked {
        color: var(--color-grey-07);
    }
}
