.edit-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-project__icon {
    justify-self: flex-end;
    align-self: flex-end;
}

.sidebar-nav-entry__wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-flow: row nowrap;
    
    a {
        text-decoration: none;
    }
}

.project-icons-wrapper {
    display: flex;
    flex-wrap: nowrap;

    & > * {
        margin: 0 5px;
    }
}

.edit-project__input {
    width: 7em;
}
