@use "../../styles/mixins";

.main-content {
    background: #fff;
    min-height: 90vh;
    width: 80%;
    margin: 0 1.5em;
    box-shadow: var(--shadow-sm);
    padding: 20px 30px;
    box-sizing: border-box;

    @include mixins.for-tablet-landscape-up {
        width: 70%;
        margin: 0;
    }

    @include mixins.for-phone-only {
        width: 100%;
        margin: 0;
    }
}

.dark {
    .main-content {
        background: #1f1f1f;
    }
}
