.tasks-section {
    width: 100%;
}

.task-section-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.tasks-section-header__header {
    font-size: 2rem;
}

.task-section-header__options {
    font-size: 1.2rem;
    color: var(--color-grey-05);
    cursor: pointer;
}

.tasks-section-tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.add-task-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0;
    width: max-content;
    cursor: pointer;

    &:hover {
        & > span {
            color: var(--color-red-03);
        }
    }
}

.add-task-wrapper__button {
    margin-right: 1em;
    font-size: 1em;
    color: var(--color-red-03);
}

.add-task-wrapper__span {
    color: grey;
    font-size: 14px;
    user-select: none;
}

.dark {
    .tasks-section-header__header {
        color: var(--color-grey-01);
    }
}
